.header {

    &__container {
       display: flex;
       align-items: center;
       justify-content: space-around;
    }

    
}

.sitenav {
    padding-left: 64px;
    padding-right: 532px;

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
    }

    &__link {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin: 0 15px;
        padding: 32px 0;
        text-decoration: none;
        color: $main-text-color;

        &:hover {
            color: $main-dark-text;
        }

        &::before {
            top: 96%;
            display: none;
            position: absolute;
            z-index: 1;
            
        }
    }

    &__link:hover::before {
        display: block;
    }
}